@import "../../../assets/sass/mixins";

.walletsList {
  height: calc(100vh - 120px);
  overflow: scroll;
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.45);
    border-radius: 10px;
    border: 1px solid #c1bfbf;
  }

  @include mq(mobile-only) {
    height: auto;
    max-height: 360px;
  }
}

.listItemText {
  margin-left: 20px;
  margin-top: 20px;
  @include regularFont();
  color: #a5a5a5;
  font-size: 18px;
  transition-property: color;
  transition-duration: 100ms;
  transition-timing-function: var(--time-function);
  &:nth-child(2n) {
    margin-left: 15px;
    float: left;
  }
  @include mq(mobile-only) {
    font-size: 20px;
  }
}
