@import "../../assets/sass/mixins";

.section {
  display: flex;
  justify-content: center;
  padding: calc((30 / 1440) * 100vw) 0 calc((110 / 1440) * 100vw) 0;
  height: calc(100vh - calc((30 / 1440) * 100vw));
  overflow: auto;

  &::-webkit-scrollbar {
    width: calc((10 / 1440) * 100vw);
    background-color: #267164;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.45);
    border-radius: calc((10 / 1440) * 100vw);
  }
}

.modalWrapper {
  width: calc((520 / 1440) * 100vw);
  height: calc((800 / 1440) * 100vw);
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.45) 100%);
  border-radius: calc((10 / 1440) * 100vw);
  padding: calc((95 / 1440) * 100vw) calc((60 / 1440) * 100vw)
    calc((45 / 1440) * 100vw) calc((60 / 1440) * 100vw);
  margin-left: auto;
  margin-right: auto;
  margin-top: calc((50 / 1440) * 100vw);
  position: relative;
}

.arrowLeftIcon {
  width: calc((50 / 1440) * 100vw);
  height: calc((50 / 1440) * 100vw);
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: transparent;
  position: absolute;
  top: calc((15 / 1440) * 100vw);
  left: calc((15 / 1440) * 100vw);

  &:hover {
    cursor: pointer;
  }
}

.homeIcon {
  width: calc((50 / 1440) * 100vw);
  height: calc((50 / 1440) * 100vw);
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: transparent;
  position: absolute;
  top: calc((15 / 1440) * 100vw);
  right: calc((15 / 1440) * 100vw);

  &:hover {
    cursor: pointer;
  }
}

.formWrapper {
  display: flex;
  width: calc((420 / 1440) * 100vw);
  // max-height: 70vh;
  flex-direction: column;
  align-items: center;
}

.form {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textarea {
  text-align: center;
  width: calc((400 / 1440) * 100vw);
  min-height: calc((180 / 1440) * 100vw);
  // max-height: 180px;
  background: #081815;
  border-radius: calc((10 / 1440) * 100vw);
  border: calc((1 / 1440) * 100vw) solid #47bea7;
  padding: calc((15 / 1440) * 100vw) calc((15 / 1440) * 100vw) 0px
    calc((15 / 1440) * 100vw);
  margin-bottom: calc((40 / 1440) * 100vw);

  @include regularFont();
  font-size: calc((25 / 1440) * 100vw);

  color: white;

  overflow: scroll;

  &::-webkit-scrollbar {
    width: calc((15 / 1440) * 100vw);
    height: 0px;
    background: transparent;
  }
}

.formFieldLabel {
  @include boldFont();
  font-size: calc((35 / 1440) * 100vw);
  position: relative;
  color: white;
  text-align: center;
  margin-bottom: calc((28 / 1440) * 100vw);
}

.formFieldCapth {
  @include regularFont(400);
  font-size: calc((16 / 1440) * 100vw);
  margin-bottom: calc((28 / 1440) * 100vw);
  color: #a5a5a5;
  text-align: center;
}

.formFieldImg {
  position: absolute;
  top: calc((8 / 1440) * 100vw);
  left: calc((11 / 1440) * 100vw);
}

.formButton {
  &--top {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: calc((30 / 1440) * 100vw);
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc((250 / 1440) * 100vw);
    height: calc((86 / 1440) * 100vw);
    border: calc((2 / 1440) * 100vw) solid #46baa4;
    box-shadow: 0px calc((4 / 1440) * 100vw) calc((5 / 1440) * 100vw)
      calc((5 / 1440) * 100vw) rgba(0, 0, 0, 0.25);
    border-radius: calc((15 / 1440) * 100vw);
    background-color: transparent;
    font-weight: 700;
    font-size: calc((35 / 1440) * 100vw);
    line-height: 1.2;
    color: var(--primary-text-color);
    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.4);
      transition-property: background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:first-child {
      background-color: aliceblue;
    }
  }

  &--bottom {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc((250 / 1440) * 100vw);
    height: calc((86 / 1440) * 100vw);
    border: calc((2 / 1440) * 100vw) solid #46baa4;
    box-shadow: 0px calc((4 / 1440) * 100vw) calc((5 / 1440) * 100vw)
      calc((5 / 1440) * 100vw) rgba(0, 0, 0, 0.25);
    border-radius: calc((15 / 1440) * 100vw);
    background-color: transparent;
    font-weight: 700;
    font-size: calc((35 / 1440) * 100vw);
    line-height: 1.2;
    color: var(--primary-text-color);
    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.4);
      transition-property: background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:first-child {
      background-color: aliceblue;
    }
  }
}

.svg {
  width: calc((45 / 1440) * 100vw);
  height: calc((45 / 1440) * 100vw);
}
