@import "../../assets/sass/mixins.scss";

.header {
  height: calc((110 / 1440) * 100vw);
  display: flex;
  align-items: center;
  background-image: var(--header-bg-color);
  box-shadow: 0px calc((4 / 1440) * 100vw) calc((4 / 1440) * 100vw)
    rgba(0, 0, 0, 0.25);
}

.headerContainer {
  width: 100%;
  margin-left: percentage(30 / 1440);
  margin-right: percentage(30 / 1440);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoWrapper {
  display: flex;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}

.logo {
  width: calc((70 / 1440) * 100vw);
  height: calc((70 / 1440) * 100vw);
}

.heading {
  margin-left: calc((40 / 1440) * 100vw);
  font-weight: 700;
  font-size: calc((40 / 1440) * 100vw);
  line-height: 1.2;
  text-shadow: calc((6 / 1440) * 100vw) calc((3 / 1440) * 100vw)
    calc((2 / 1440) * 100vw) #000000;
  color: #fff500;
}

.headerButton {
  width: calc((235 / 1440) * 100vw);
  height: calc((70 / 1440) * 100vw);
  margin-left: calc((30 / 1440) * 100vw);
  display: flex;
  align-items: center;
  justify-content: center;
  border: calc((2 / 1440) * 100vw) solid #46baa4;
  box-shadow: 0px calc((4 / 1440) * 100vw) calc((5 / 1440) * 100vw)
    calc((5 / 1440) * 100vw) rgba(0, 0, 0, 0.25);
  border-radius: calc((15 / 1440) * 100vw);
  background-color: transparent;
  font-weight: 700;
  font-size: calc((32 / 1440) * 100vw);
  line-height: 1.2;
  color: var(--primary-text-color);
  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  @include mq(mobile-only) {
    display: none;
  }
}

.headerButtonsWrapper {
  display: flex;
}
