@import "../../assets/sass/mixins";

.section {
  display: flex;
  justify-content: center;
  padding: calc((30 / 1440) * 100vw) 0 calc((110 / 1440) * 100vw) 0;
  height: calc(100vh - calc((30 / 1440) * 100vw));
  overflow: auto;

  &::-webkit-scrollbar {
    width: calc((10 / 1440) * 100vw);
    background-color: #267164;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.45);
    border-radius: calc((10 / 1440) * 100vw);
  }
  @include mq(mobile-only) {
    padding: calc((35 / 460) * 100vw) 0 calc((40 / 460) * 100vw) 0;
  }
}

.modalWrapper {
  width: calc((480 / 1440) * 100vw);
  height: calc((560 / 1440) * 100vw);
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.45) 100%);
  border-radius: calc((10 / 1440) * 100vw);
  padding-top: calc((95 / 1440) * 100vw);
  padding-bottom: calc((45 / 1440) * 100vw);
  padding-right: calc((60 / 1440) * 100vw);
  padding-left: calc((60 / 1440) * 100vw);
  // position: absolute;
  // top: calc(45% + (110 / 1440) * 100vw);
  // left: 50%;
  // transform: translate(-50%, -50%);
  @include mq(mobile-only) {
    height: calc((400 / 460) * 100vw);
    padding-top: calc((50 / 460) * 100vw);
    padding-bottom: calc((30 / 460) * 100vw);
    padding-right: calc((10 / 460) * 100vw);
    padding-left: calc((10 / 460) * 100vw);
    width: calc((380 / 460) * 100vw);
    border-radius: calc((10 / 460) * 100vw);
    // max-height: 98vh;
  }
}

.formWrapper {
  display: flex;
  width: calc((420 / 1440) * 100vw);
  max-height: 70vh;
  flex-direction: column;
  overflow: scroll;

  &::-webkit-scrollbar {
    width: calc((10 / 1440) * 100vw);
    height: 0px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.45);
    border-radius: calc((10 / 1440) * 100vw);
    border: calc((1 / 1440) * 100vw) solid #c1bfbf;
  }
  @include mq(mobile-only) {
    width: calc((280 / 460) * 100vw);
  }
}

.form {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.formField {
  //   text-align: center;
  width: calc((400 / 1440) * 100vw);
  height: calc((60 / 1440) * 100vw);
  background: #081815;
  border-radius: calc((10 / 1440) * 100vw);
  border: calc((1 / 1440) * 100vw) solid #47bea7;
  padding-top: calc((15 / 1440) * 100vw);
  padding-bottom: calc((15 / 1440) * 100vw);
  padding-right: calc((60 / 1440) * 100vw);
  padding-left: calc((15 / 1440) * 100vw);
  // padding: 15px 60px 15px 15px;
  margin-bottom: calc((30 / 1440) * 100vw);

  @include regularFont();
  font-size: calc((25 / 1440) * 100vw);

  color: white;
  @include mq(mobile-only) {
    border-radius: calc((10 / 460) * 100vw);
    width: calc((260 / 460) * 100vw);
    height: calc((42 / 460) * 100vw);
    @include regularFont();
    font-size: calc((18 / 460) * 100vw);
    margin-bottom: calc((30 / 460) * 100vw);
  }
  &:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 calc((50 / 1440) * 100vw) #081815;
    -webkit-text-fill-color: white;
  }
}

.formFieldLabel {
  @include boldFont();
  font-size: calc((35 / 1440) * 100vw);
  position: relative;
  color: white;
  text-align: center;

  @include mq(mobile-only) {
    @include regularFont();
    font-size: calc((18 / 460) * 100vw);
  }
}

.formFieldImg {
  position: absolute;
  top: calc((8 / 1440) * 100vw);
  right: calc((11 / 1440) * 100vw);
  @include mq(mobile-only) {
    width: calc((26 / 1440) * 100vw);
    height: calc((26 / 1440) * 100vw);
  }
}

.formButton {
  &--top {
    margin-left: auto;
    margin-right: auto;
    margin-top: calc((40 / 1440) * 100vw);
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc((250 / 1440) * 100vw);
    height: calc((86 / 1440) * 100vw);
    border: calc((2 / 1440) * 100vw) solid #46baa4;
    box-shadow: 0px calc((4 / 1440) * 100vw) calc((5 / 1440) * 100vw)
      calc((5 / 1440) * 100vw) rgba(0, 0, 0, 0.25);
    border-radius: calc((15 / 1440) * 100vw);
    background-color: transparent;
    font-weight: 700;
    font-size: calc((35 / 1440) * 100vw);
    line-height: 1.2;
    color: var(--primary-text-color);
    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.4);
      transition-property: background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:first-child {
      background-color: aliceblue;
    }
    @include mq(mobile-only) {
      margin-top: calc((10 / 460) * 100vw);
      width: calc((200 / 460) * 100vw);
      height: calc((66 / 460) * 100vw);
      border: calc((2 / 460) * 100vw) solid #46baa4;
      box-shadow: 0px calc((4 / 460) * 100vw) calc((5 / 460) * 100vw)
        calc((5 / 460) * 100vw) rgba(0, 0, 0, 0.25);
      border-radius: calc((15 / 460) * 100vw);
      font-size: calc((26 / 460) * 100vw);
    }
  }

  &--bottom-start {
    margin-left: auto;
    margin-right: auto;
    margin-top: calc((40 / 1440) * 100vw);
    display: flex;
    display: none;
    align-items: center;
    justify-content: center;
    width: calc((250 / 1440) * 100vw);
    height: calc((86 / 1440) * 100vw);
    border: calc((2 / 1440) * 100vw) solid #46baa4;
    box-shadow: 0px calc((4 / 1440) * 100vw) calc((5 / 1440) * 100vw)
      calc((5 / 1440) * 100vw) rgba(0, 0, 0, 0.25);
    border-radius: calc((15 / 1440) * 100vw);
    background-color: transparent;
    font-weight: 700;
    font-size: calc((35 / 1440) * 100vw);
    line-height: 1.2;
    color: var(--primary-text-color);
    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.4);
      transition-property: background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:first-child {
      background-color: aliceblue;
    }
    @include mq(mobile-only) {
      display: flex;
      margin-top: calc((10 / 460) * 100vw);
      width: calc((200 / 460) * 100vw);
      height: calc((66 / 460) * 100vw);
      border: calc((2 / 460) * 100vw) solid #46baa4;
      box-shadow: 0px calc((4 / 460) * 100vw) calc((5 / 460) * 100vw)
        calc((5 / 460) * 100vw) rgba(0, 0, 0, 0.25);
      border-radius: calc((15 / 460) * 100vw);
      font-size: calc((26 / 460) * 100vw);
    }
  }
}

.errorMessage {
  @include regularFont();
  font-size: calc((14 / 1440) * 100vw);
  color: #a5a5a5;
  position: absolute;
  top: calc((90 / 1440) * 100vw);
  left: calc((80 / 1440) * 100vw);
  max-width: calc((260 / 1440) * 100vw);
  @include mq(mobile-only) {
    max-width: calc((260 / 460) * 100vw);
    font-size: calc((10 / 460) * 100vw);
    top: calc((66 / 460) * 100vw);
    left: calc((56 / 460) * 100vw);
  }

  @include mq(desktop) {
    max-width: calc((400 / 1440) * 100vw);
    top: calc((106 / 1440) * 100vw);
    left: 0px;
  }
}

.errorMessagePassword {
  @include regularFont();
  font-size: calc((14 / 1440) * 100vw);
  color: #a5a5a5;
  position: absolute;
  top: calc((204 / 1440) * 100vw);
  left: calc((80 / 1440) * 100vw);
  max-width: 260px;
  @include mq(mobile-only) {
    max-width: calc((260 / 460) * 100vw);
    font-size: calc((10 / 460) * 100vw);
    top: calc((160 / 460) * 100vw);
    left: calc((56 / 460) * 100vw);
  }
  @include mq(desktop) {
    max-width: calc((400 / 1440) * 100vw);
    top: calc((240 / 1440) * 100vw);
    left: 0px;
  }
}

.alternativeLink {
  display: none;

  // top: calc((66 / 460) * 100vw);
  // left: calc((56 / 460) * 100vw);
  @include mq(mobile-only) {
    display: block;
    @include regularFont();
    font-size: calc((14 / 1440) * 100vw);
    color: rgb(193, 193, 193);
    // position: absolute;
    top: calc((90 / 1440) * 100vw);
    left: calc((80 / 1440) * 100vw);
    max-width: calc((260 / 1440) * 100vw);
    margin-top: calc((30 / 460) * 100vw);
    max-width: calc((260 / 460) * 100vw);
    font-size: calc((12 / 460) * 100vw);

    &:hover {
      color: white;
      text-decoration: underline;
    }
  }
}
