@import "../../../assets/sass/mixins";

.transaction {
  height: calc((158 / 1440) * 100vw);
  padding-top: calc((21 / 1440) * 100vw);
  padding-bottom: calc((20 / 1440) * 100vw);
  padding-right: calc((33 / 1440) * 100vw);
  padding-left: calc((20 / 1440) * 100vw);
  // padding: 21px 33px 20px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid white;

  &:last-child {
    border-bottom: 0;
  }

  // &:last-child {
  //   border-bottom: 0;
  // }
  & ul {
    width: 100%;
  }

  @include mq(mobile-only) {
    height: calc((92 / 1440) * 100vw);
    padding-top: calc((15 / 1440) * 100vw);
    padding-bottom: calc((10 / 1440) * 100vw);
    padding-right: calc((10 / 1440) * 100vw);
    padding-left: calc((10 / 1440) * 100vw);
  }
}

.image {
  height: calc((60 / 1440) * 100vw);
  width: calc((60 / 1440) * 100vw);
  @include mq(mobile-only) {
    height: calc((50 / 1440) * 100vw);
    width: calc((50 / 1440) * 100vw);
  }
}

.transactionInfoListItem {
  margin-left: calc((33 / 1440) * 100vw);
  display: flex;
  width: 92%;
  justify-content: space-between;
  @include mq(mobile-only) {
    margin-left: calc((15 / 1440) * 100vw);
  }
}
.transactionInfo {
  @include regularFont();
  font-size: calc((32 / 1440) * 100vw);
  color: var(--primary-text-color);
  @include mq(mobile-only) {
    font-size: calc((18 / 1440) * 100vw);
  }
}

.date {
  @include regularFont();
  font-size: calc((20 / 1440) * 100vw);
  color: #aca4a4;
  @include mq(mobile-only) {
    font-size: calc((18 / 1440) * 100vw);
  }
}
