@import "../../assets/sass/mixins.scss";
// * {
//   outline: 1px solid red;
// }
html,
// body,
body {
  height: 100vh;
  position: relative;
  font-family: "Bahnschrift", sans-serif;
  @include regularFont();
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--primary-bg-color);

  @include mq(tablet-only) {
    min-width: 1280px;
  }
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
  margin: 0;
}

button {
  padding: 0;
  margin: 0;
}
